
/* 
    Created on : May 2, 2019, 4:18:58 PM
    Author     : Bob
*/
body {
    background: #555;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    background: white;
    padding: 20px;
    border: 2px solid black;
    max-width: 800px;
    min-width: 300px;
    margin: 10px;
}

h1 {
    max-width: 400px;
    background: white;
    padding: 10px;    
    border: 2px solid black;
    text-align: center;
}

input[type=text], textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: white;
    border: 2px solid black;
    color: black;
    padding: 3px 5px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

button {
    background-color: white;
    border: 2px solid black;
    color: black;
    padding: 3px 5px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover, button:active, input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
    background-color: red;
}
