/.metadata/
/DB1/nbproject/private/
/DB1/DB1-war/nbproject/private/
/DB1/DB1-ejb/nbproject/private/
/DB1/DB1-war/build/
/DB1/DB1-ejb/build/
/DB1/DB1-ejb/dist/
/DMSLabs/nbproject/private/
/DMSLabs/build/
/HelloWeb/nbproject/private/
/Assignment1/nbproject/private/
/Lab1Part5/nbproject/private/
/Lab2Part2/nbproject/private/
/JMSassigment/nbproject/private/
/JMSassigment/JMSassigment-war/nbproject/private/
/JMSassigment/JMSassigment-ejb/nbproject/private/
/JMSassigment/JMSassigment-war/dist/
/JMSassigment/JMSassigment-war/build/
/JMSassigment/JMSassigment-ejb/dist/
/JMSassigment/JMSassigment-ejb/build/
/JMSassignment/nbproject/private/
/DMSassignment3/nbproject/private/
/DMSassignment3/DMSassignment3-war/nbproject/private/
/DMSassignment3/DMSassignment3-ejb/nbproject/private/
/DMSassignment3/DMSassignment3-war/build/
/DMSassignment3/DMSassignment3-ejb/build/
/DMSassignment3/DMSassignment3-ejb/dist/
/DMSassignment3Subscriber/nbproject/private/
/DMSassignment3Subscriber/DMSassignment3Subscriber-war/nbproject/private/
/DMSassignment3Subscriber/DMSassignment3Subscriber-ejb/nbproject/private/
/DMSassignment3Subscriber/DMSassignment3Subscriber-ejb/build/
/DMSassignment3Subscriber/DMSassignment3Subscriber-war/build/
/DMSassignment3Subscriber/build/
/DMSassignment3Subscriber/DMSassignment3Subscriber-ejb/dist/
/DMSassignment3Subscriber/DMSassignment3Subscriber-war/dist/
/DMSassignment3Subscriber/dist/
/test324/nbproject/private/
/test324/test324-war/nbproject/private/
/test324/test324-ejb/nbproject/private/
/DMSassignment3/build/
/DMSassignment3/DMSassignment3-war/dist/
/DMSJobProducer/nbproject/private/
/DMSJobProducer/DMSJobProducer-war/nbproject/private/
/DMSJobProducer/DMSJobProducer-ejb/nbproject/private/
/DMSJobConsumer/nbproject/private/
/DMSJobConsumer/DMSJobConsumer-war/nbproject/private/
/DMSJobConsumer/DMSJobConsumer-ejb/nbproject/private/
/DMSJobProducer/DMSJobProducer-ejb/build/
/DMSJobProducer/DMSJobProducer-ejb/dist/
/DMSJobProducer/DMSJobProducer-war/build/
/DMSJobProducer/build/
/DMSJobProducer/DMSJobProducer-war/dist/
/DMSJobProducer/dist/
/DMSJobConsumer/DMSJobConsumer-ejb/build/
/DMSJobConsumer/DMSJobConsumer-ejb/dist/
/DMSJobConsumer/DMSJobConsumer-war/build/
/DMSJobConsumer/build/
/DMSJobConsumer/DMSJobConsumer-war/dist/
/DMSJobConsumer/dist/