/.metadata/
/DB1/nbproject/private/
/DB1/DB1-war/nbproject/private/
/DB1/DB1-ejb/nbproject/private/
/DB1/DB1-war/build/
/DB1/DB1-ejb/build/
/DB1/DB1-ejb/dist/
/DMSLabs/nbproject/private/
/DMSLabs/build/
/HelloWeb/nbproject/private/
/Assignment1/nbproject/private/
/Lab1Part5/nbproject/private/
/Lab2Part2/nbproject/private/
/Assignment2/nbproject/private/
/Assignment2/Assignment2-war/nbproject/private/
/Assignment2/Assignment2-ejb/nbproject/private/
/Assignment2/Assignment2-ejb/build/
/Assignment2/Assignment2-war/build/
/Assignment2/Assignment2-ejb/dist/
/SocialMediaApp/nbproject/private/
/SocialMediaApp/SocialMediaApp-war/nbproject/private/
/SocialMediaApp/SocialMediaApp-ejb/nbproject/private/
/Assignment2/build/
/Assignment2/dist/
/Assignment2/Assignment2-war/dist/