body {
    background: #555;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    background: white;
    padding: 20px;
    border: 2px solid black;
    max-width: 1000px;
    margin-bottom: 20px;
}

.foot {
    background: white;
    padding: 20px;
    border: 2px solid black;
    max-width: 1000px;
    margin-bottom: 10px;
    position: fixed;
    bottom: 0;
}

h1 {
    max-width: 400px;
    background: white;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

input[type=text], input[type=date], input[type=time] , input[type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: white;
    border: 2px solid black;
    color: black;
    padding: 8px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

button {
    background-color: black;
    color: white;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

button:hover, button:active {
    background-color: red;
}

th {
    background-color: #555;
    color: white;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 7px;
  text-align: left;
}

tr:hover {
      background-color: #f5f5f5;
}

